<h1> Edit your photo
</h1>

<form action="http://localhost:3000/update_photo/<%= @photo.id %>">

  <div>
    <label for="url">
      Image URL
    </label>
    <input type="text" id="url" name="source" value="<%= @photo.source %>">
  </div>

  <div>
    <label for="caption">
      Caption
    </label>
    <input type="text" id="caption" name="caption" value="<%= @photo.source %>">
  </div>

  <div>
    <button>Update Photo</button>
  </div>

</form>
